* {
    // Default styles
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // Body Styles
    body {
        // font style of enitre Body
        font-family: fantasy;

        // header styles
        header {
            padding: 10px;
            font-size: 20px;
            text-align: center;
        }
        .wrapper {
            // form styles
            width: 200px;
            margin: 0 auto;
            position: relative;
            // input text styles
            input[type="text"] {
                width: 200px;
                outline: none;
                padding: 10px;
                padding-left: 20px;
                border-radius: 20px;
                padding-right: 40px;
                border: 3px solid #ddd;

                // input placeholder styles
                &::placeholder {
                    opacity: 0.6;
                    font-weight: bold;
                    font-family: monospace;
                    color: rgb(64, 153, 98);
                }
            }
            .fa-plus {
                right: 10%;
                cursor: pointer;
                position: absolute;
                top: calc(26px / 2);
                color: rgb(64, 153, 98);
            }
        }
    }
}
